@media only screen and (max-width:910px) {
    .navbar{
        display: none;
    }
}

@media only screen and (max-width:576px) {
   .hamburger{
       display: block;
   } 
   .request-invite{
       display: none;
   }
}